/* .img-fulid{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-left: 3rem;   
    position: absolute;
    top: 2px;
    overflow: hidden;   
} */

.img-fulid{
    width:90px;
    height: 80px;
    position: relative;
    top: 10px;
}